body, html {
  font-family: sans-serif;
}

#record {
  font-weight: bold;
  font-size: 24px;
  padding: 2vw;
}

#history {
  padding-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.history-entry {
  text-align: left;
  font-family: monospace;
}

.centered-div {
  text-align: center;
  margin: 0 auto;
}

.centered-wrapper {
  margin-left: auto;
  margin-right: auto;
}