body, html {
  font-family: sans-serif;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

article {
  flex: 1;
}

#record {
  font-weight: bold;
  font-size: 24px;
  padding: 2vw;
}

#history {
  padding-top: 0vh;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#notes {
  padding: 20px;
  font-weight: bold;
}

.history-entry {
  text-align: left;
  font-family: monospace;
}

.centered-div {
  text-align: center;
  margin: 0 auto;
}

.centered-wrapper {
  margin-left: auto;
  margin-right: auto;
}