body, html {
  font-family: sans-serif;
  margin: 0;
  background-color: #313338;
  color: #fff;
}

a, a:link, a:visited {
  color: #00aff4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

article {
  flex: 1;
}

#record, #islive {
  font-weight: bold;
  font-size: 24px;
  padding: 1vw;
}

#history, #faq-block {
  padding-top: 0vh;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#notes {
  padding: 20px;
  font-weight: bold;
}

.history-entry {
  text-align: left;
  font-family: monospace;
}

.question {
  text-align: left;
  font-family: monospace;
  font-size: 12pt;
  font-weight: bold;
}

.answer {
  text-align: left;
  font-family: monospace;
  font-size: 12pt;
}

.answer-list {
  padding-bottom: 12px;
}

.centered-div {
  text-align: center;
  margin: 0 auto;
}

.centered-wrapper {
  margin-left: auto;
  margin-right: auto;
}